body{
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    justify-content: 15px;
    align-items: center;
    height: 55px;
    background-color:rgb(104, 0, 0);
    padding: 32px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.menu-link a {
    color: rgb(1, 138, 102); /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado */
    margin: 0 160px; /* Espaçamento entre os links */
    transition: color 0.3s ease; /* Transição suave para o hover */
}

.menu-link a:hover {
    color: #a3e800; /* Cor ao passar o mouse (amarelo) */
    text-decoration: underline; /* Adiciona sublinhado */
    
}



main {
    display: flex;
    flex-flow: wrap;
    height: 500px;
    background-color:rgb(0, 0, 0);
    padding: 20px;
    color: rgb(223, 83, 83);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    background-color: rgb(8, 52, 52);
    font-size: 15px;
    border: 2px solid black;
    ;

}




footer{
    display: flex;
    height: 70px;
    background-color:rgb(104, 0, 0);
    padding: 20px;
    color:#ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
